# Statistics in Python 

# By Awais Manzoor 

# Data Analyst

# What is Statistics
### Statistics is a branch of mathematics that involves collecting,analysing, interpreting, and presenting data. It provides tools and methods to understand and make sense of large amounts of data and to draw conclusions and make decisions based on the data. 
### Examples:
### Business - Data Analysis(Identifying customer behavior) and Demand Forecasting

# Population Vs Sample

In [ ]:
""" Population refers to the entire group of individuals or objects that we are
interested in studying. It is the complete set of observations that we want to make
inferences about. For example, the population might be all the students in a
particular school or all the cars in a particular city.

A sample, on the other hand, is a subset of the population. It is a smaller group of
individuals or objects that we select from the population to study. Samples are
used to estimate characteristics of the population, such as the mean or the
proportion with a certain attribute. For example, we might randomly select 100
students."""

# Measure of Central Tendency
### The measure of central tendency is a value that describes the middle or typical value of a dataset.

In [1]:
# a list  of data 
data1 = [11,31,41,51,71,91,21,55,95,55]
sum(data1)

522

In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd 

data1 = [11,31,41,51,71,91,21,55,95,55]

df = pd.DataFrame(data1,columns=["Numbers"])
print(df)

   Numbers
0       11
1       31
2       41
3       51
4       71
5       91
6       21
7       55
8       95
9       55

In [3]:
df.head()

   Numbers
0       11
1       31
2       41
3       51
4       71

In [4]:
df.tail(10)

   Numbers
0       11
1       31
2       41
3       51
4       71
5       91
6       21
7       55
8       95
9       55

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Numbers  10 non-null     int64
dtypes: int64(1)
memory usage: 212.0 bytes

In [6]:
pip install statistics

Requirement already satisfied: statistics in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (1.0.3.5)
Requirement already satisfied: docutils>=0.3 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from statistics) (0.21.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
# importing module satistics 
import statistics

# 1. Mean
### The mean is the sum of all values in the dataset divided by the number of values.

In [8]:
# To find mean 
x = statistics.mean(data1)
print("The mean is:", x)

The mean is: 52.2

In [9]:
# remove the existing data 
data1 = [11,31,41,51,71,91,21,55,95,55]
data1.remove(95)

In [10]:
# Adding a list into data1
data1.extend([1,2])
print(data1)

[11, 31, 41, 51, 71, 91, 21, 55, 55, 1, 2]

In [11]:
# Adding a no to the list  
numbers = [3] + data1
print(numbers)

[3, 11, 31, 41, 51, 71, 91, 21, 55, 55, 1, 2]

# Weighted Mean
### The weighted mean is the sum of the products of each value and its weight, divided by the sum of the weights. It is used to calculate a mean when the values in the dataset have different importance or frequency.