# Measure Of Central Tendency
# By Awais Manzoor
# Data Analyst

# 1.Mean
# 2.Median
# 3.Mode

In [2]:
import pandas as pd 

data1 = [11,31,41,51,71,91,21,55,95,55]

df = pd.DataFrame(data1,columns=["Numbers"])
print(df)

   Numbers
0       11
1       31
2       41
3       51
4       71
5       91
6       21
7       55
8       95
9       55

In [3]:
# importing sas library
import statistics as sat

In [4]:
import pandas as pd
import statistics
import seaborn as sns

In [5]:

df = sns.load_dataset("tips")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [6]:

df = sns.load_dataset("tips")
df.tail()

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [7]:
df.shape

(244, 7)

In [8]:
df.describe().T

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

# Mean

In [30]:
statistics.mean(x)

19.78594262295082

# Median
### The median is the middle value in the dataset when the data is arranged in order.

In [31]:
print("The Median is ", x.median())

The Median is  17.795

In [32]:
statistics.median(x)

17.795

# Mode 

### The mode is the value that appears most frequently in the dataset.

In [33]:

statistics.mode(x)

13.42